<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>To set up this job on your local machine&#xd;
&#xd;
1 Configure github&#xd;
&#xd;
Go to http://localhost:8080/job/pre-test-build/configure&#xd;
    In the pre-test-commit job, add you github credentials&#xd;
&#xd;
2 Configure mail&#xd;
&#xd;
Go to localhost:8080/configure.&#xd;
    Fill out&#xd;
        &apos;System Admin e-mail address&apos; under Jenkins Location&#xd;
        The fields under the &apos;E-mail Notification&apos; section&#xd;
        To use your own gmail account (only works with 2-factor authentication), under the &apos;E-mail Notification&apos; section:&#xd;
            SMTP server: smtp.gmail.com&#xd;
            Click &apos;Advanced&apos;&#xd;
            Check &apos;Use SMTP Authentication&apos;&#xd;
            User Name: your gmail username&#xd;
            Password: your gmail password (application-specific if you use 2-factor authentication)&#xd;
            Check &apos;Use SSL&apos;&#xd;
            add &apos;465&apos; to the text box labelled &apos;SMTP Port&apos;&#xd;
</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.3.2">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/jwermuth/basecamp-java.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>origin/${DEVELOPER_ID}</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.PreBuildMerge>
        <options>
          <mergeRemote>origin</mergeRemote>
          <mergeTarget>integration</mergeTarget>
          <mergeStrategy>default</mergeStrategy>
        </options>
      </hudson.plugins.git.extensions.impl.PreBuildMerge>
    </extensions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>gradle test</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.git.GitPublisher plugin="git@2.3.2">
      <configVersion>2</configVersion>
      <pushMerge>true</pushMerge>
      <pushOnlyIfSuccess>true</pushOnlyIfSuccess>
      <forcePush>false</forcePush>
    </hudson.plugins.git.GitPublisher>
    <hudson.tasks.Mailer plugin="mailer@1.11">
      <recipients></recipients>
      <dontNotifyEveryUnstableBuild>true</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>